.item{
width: 100% !important;
height: auto;
padding:20px 0 0 0;
margin: 40px 0;

}


.ed_pricing_table,.ed_pricing_table2{

    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    margin-top:20px;
    padding: 40px 15px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    transition: all .5s;
    span{
        color: #d47723;
        font-size: 22px;
    }
    p{
        text-align: left;
        padding-left:40px;
        margin-bottom:20px;
    }
    button{
        text-align:right;

    }
    a{
        text-decoration: none;
    }
}

@media only screen and(min-width:599px) 
{
    .item{
        display: none !important;


    }
    .owl-carousel{

        display: none;
        } .owl-theme{

            display: none;
        }
        .owl-nav{
            display: none;
        }
    .owl-dots{
        display: none;
    }
        .ed_pricing_table1{
            display: none;
        }
}
@media only screen and(max-width: 598px){

    .ed_pricing_table{
        display: none;
    }

}


.ed_pricing_table1 {

    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top:20px;
    padding:20px 0;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    transition: all .5s;
    span{
        color: #d47723;
        font-size: 22px;
    }
    p{
        text-align: left;
        padding-left:40px;
        margin-bottom:20px;
    }
    button{
        text-align:right;

    }
    a{
        text-decoration: none;
    }
}
.ed_pricing_table:hover{
        border: 0.5px solid  #e1e1e1; 
  box-shadow: 5px 10px 18px #888888;
  transform: scale(1.1);

}

.ed_pricing_table2:hover{
      border: 0.5px solid  #e1e1e1; 
  box-shadow: 5px 10px 18px #888888;
  transform: scale(1.1);
}


@media only screen and (max-width: 470px) {
  .ed_pricing_table:hover {
    transform: scale(1);

  }
  .ed-pricing_table2:hover{
    transform: scale(1);
  }
}

.ed_pricing_table button:hover{
background-color: #b40018;

}
.ed_pricing_table button a:hover{
    color: $fcolor;

}
.bg-lighter{
    background-color: #ece8d9;
}