.bg-lighter{
	background-color: #ece8d9;
}

.footer{
	background-color: #222222;
	height: auto;


	li{
		list-style: none;
	
	}

}
.aboutlearngaroo{
	padding-top: 60px;
	color: #ccc;
}

.quick{
	padding-top: 60px;
	color:#888;
	a{
		color:#888;
	}
}
.social{
	padding-top:60px;
	color: #888;
	li{
		list-style: none;
	}
	a{font-size:18px;
		color: #888;
		text-decoration: none;


	}
	i{
		color:orange;
	}
	a:hover{
	color: orange;
	}
}



.find{
	padding-top: 60px;
	color: #888;
	i{
		color: orange;
	}
}
.bg-dark{
	background-color:#111111 !important;
	color:#888 !important;
}