header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/cover.jpg);
  height: 100vh;
  background-size: cover; }

.headercontent {
  color: #ffffff;
  padding-top: 130px; }
  .headercontent h1 {
    font-size: 60px;
    padding-top: 40px; }
  .headercontent span {
    color: #ff5733; }
  .headercontent p {
    padding: 35px;
    font-size: 26px; }
  .headercontent button {
    border-radius: 25px; }
  .headercontent button:hover {
    background-color: #b40018; }
  .headercontent a {
    color: #ffffff;
    text-decoration: none; }

.bg-light {
  background-color: #154360 !important; }

.navbar-light .navbar-nav .nav-link {
  color: #ddd !important;
  padding: 10px 20px;
  font-size: 18px; }

.menu {
  z-index: 999; }

.navbar-toggler {
  background-color: #ece8d9; }

.position-top {
  position: sticky;
  top: 0; }

.about {
  width: 100%;
  background-color: #f7f7f7; }
  .about h2 {
    font-size: 45px;
    color: #154360;
    padding: 50px 0 20px 50px; }
  .about p {
    padding: 20px 0 0 50px;
    color: #787ea0;
    padding-bottom: 10px; }
  .about a {
    color: #ffffff;
    text-decoration: none; }
  .about button:hover {
    background-color: #b40018; }

.enroll {
  background-color: #a97a8c;
  color: #fff;
  text-transform: capitalize;
  margin: 120px 35px 0 0;
  font-size: 30px;
  padding: 0 50px 35px;
  width: 100%;
  border-radius: 3px;
  z-index: 889;
  box-shadow: 5px 10px 18px #888888; }

@media only screen and (max-width: 767px) {
  .enroll {
    margin-top: 10px; } }
.achivements {
  margin: auto;
  padding: 30px 0; }

.circle1, .circle2, .circle3, .circle4, .circle5 {
  display: inline-block;
  width: 170px;
  height: 170px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #666;
  border: 6px solid #199EB8;
  border-radius: 50%;
  padding: 55px 24px 0 20px;
  position: relative;
  text-align: center; }
  .circle1 i, .circle2 i, .circle3 i, .circle4 i, .circle5 i {
    font-size: 40px; }

.circle0 {
  color: #ffffff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: -12%;
  left: 57%;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #E04F00;
  position: absolute;
  border-radius: 50%;
  font-weight: 700;
  text-align: center; }

.flex-container {
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 992px) {
  .circle1, .circle2, .circle3, .circle4, .circle5 {
    display: inline-block;
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: relative;
    text-align: center; }
    .circle1 i, .circle2 i, .circle3 i, .circle4 i, .circle5 i {
      font-size: 20px;
      text-align: center; }

  .circle0 {
    color: #ffffff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    top: -12%;
    left: 57%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #E04F00;
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
    text-align: center; }

  .favicon {
    font-size: 10px; } }
@media only screen and (max-width: 768px) {
  .achivements {
    margin: auto;
    width: 100%;
    height: 800px;
    position: relative; }

  .flex-container {
    display: block !important; }

  .circle1 {
    display: inline-block;
    width: 170px;
    height: 170px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 50px 24px 0 20px;
    position: absolute;
    top: 10%;
    left: 40%; }
    .circle1 i {
      font-size: 40px; }
    .circle1 p {
      font-size: 14px; }

  .circle2 {
    display: inline-block;
    width: 170px;
    height: 170px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 50px 24px 0 20px;
    position: absolute;
    top: 35%;
    left: 10%; }
    .circle2 i {
      font-size: 40px; }
    .circle2 p {
      font-size: 14px; }

  .circle3 {
    display: inline-block;
    width: 170px;
    height: 170px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 50px 24px 0 20px;
    position: absolute;
    top: 35%;
    left: 60%; }
    .circle3 i {
      font-size: 40px; }
    .circle3 p {
      font-size: 14px; }

  .circle4 {
    display: inline-block;
    width: 170px;
    height: 170px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 50px 24px 0 20px;
    position: absolute;
    top: 60%;
    left: 10%; }
    .circle4 i {
      font-size: 40px; }
    .circle4 p {
      font-size: 14px; }

  .circle5 {
    display: inline-block;
    width: 170px;
    height: 170px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 50px 24px 0 20px;
    position: absolute;
    top: 60%;
    left: 60%; }
    .circle5 i {
      font-size: 40px; }
    .circle5 p {
      font-size: 14px; }

  .circle0 {
    color: #ffffff;
    width: 60px;
    height: 60px;
    line-height: 70px;
    top: -12%;
    left: 57%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #E04F00;
    position: absolute;
    border-radius: 50%;
    text-align: center; } }
@media only screen and (max-width: 480px) {
  .achivements {
    margin: auto;
    height: 500px;
    padding-top: 80px; }

  .flex-container {
    display: block !important; }

  .circle1 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 10%;
    left: 37%; }
    .circle1 i {
      font-size: 22px; }

  .circle2 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 40%;
    left: 14%; }
    .circle2 i {
      font-size: 22px; }

  .circle3 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 40%;
    left: 55%; }
    .circle3 i {
      font-size: 22px; }

  .circle4 {
    display: inline-block;
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 70%;
    left: 14%; }
    .circle4 i {
      font-size: 22px; }

  .circle5 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 70%;
    left: 55%; }
    .circle5 i {
      font-size: 22px; }

  .circle0 {
    color: #ffffff;
    width: 60px;
    height: 60px;
    line-height: 70px;
    top: -12%;
    left: 57%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #E04F00;
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
    text-align: center; } }
@media only screen and (max-width: 350px) {
  .flex-container {
    display: flex;
    flex-direction: column; }

  .achivements {
    margin: auto;
    position: relative;
    height: 500px; }

  .flex-container {
    display: block !important; }

  .circle1 {
    width: 120px;
    height: 120px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 15%;
    left: 35%; }
    .circle1 i {
      font-size: 20px; }

  .circle2 {
    width: 120px;
    height: 120px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 45%;
    left: 10%; }
    .circle2 i {
      font-size: 20px; }

  .circle3 {
    width: 120px;
    height: 120px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 45%;
    left: 53%; }
    .circle3 i {
      font-size: 20px; }

  .circle4 {
    width: 120px;
    height: 120px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 75%;
    left: 10%; }
    .circle4 i {
      font-size: 20px; }

  .circle5 {
    width: 120px;
    height: 120px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: absolute;
    top: 75%;
    left: 53%; }
    .circle5 i {
      font-size: 20px; }

  .circle0 {
    color: #ffffff;
    width: 60px;
    height: 60px;
    line-height: 70px;
    top: -12%;
    left: 57%;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #E04F00;
    position: absolute;
    border-radius: 50%;
    font-weight: 700;
    text-align: center; } }
@media only screen and (max-width: 312px) {
  .achivements {
    margin: auto;
    height: 800px; }

  .circle1 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: relative;
    text-align: center;
    top: 10%;
    left: 20%; }

  .circle2 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: relative;
    text-align: center;
    top: 15%;
    left: 20%; }

  .circle3 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: relative;
    text-align: center;
    top: 20%;
    left: 20%; }

  .circle4 {
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: relative;
    text-align: center;
    top: 25%;
    left: 20%; }

  .circle5 {
    display: inline-block;
    width: 125px;
    height: 125px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #666;
    border: 6px solid #199EB8;
    border-radius: 50%;
    padding: 35px 24px 0 20px;
    position: relative;
    text-align: center;
    top: 30%;
    left: 20%; }

  .flex-container {
    display: flex;
    flex-direction: column; } }
.favicon {
  font-size: 40px;
  color: #154360;
  text-align: center; }

.favplus {
  color: #154360; }

.feature {
  background-color: #f7f7f7; }
  .feature h2 {
    color: #0c4f5c;
    font-family: 'Sriracha', cursive; }
  .feature h3 {
    color: #0c4f5c;
    font-family: 'Sriracha', cursive; }

.feature-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 15px;
  background: #199EB8;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  display: inline-block; }

.feature-icon:hover {
  background-color: #b40018; }

.banner {
  background: #86b3d2; }

.ed_pricing_table {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px;
  padding: 40px 15px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  transition: all .5s; }
  .ed_pricing_table span {
    color: #d47723;
    font-size: 22px; }
  .ed_pricing_table p {
    text-align: left;
    padding-left: 40px;
    margin-bottom: 20px; }
  .ed_pricing_table button {
    text-align: right; }
  .ed_pricing_table a {
    text-decoration: none; }

.ed_pricing_table:hover {
  border: 0.5px solid  #e1e1e1;
  box-shadow: 5px 10px 18px #888888;
  transform: scale(1.1); }

@media only screen and (max-width: 470px) {
  .ed_pricing_table:hover {
    transform: scale(1); } }
.ed_pricing_table button:hover {
  background-color: #b40018; }

.ed_pricing_table button a:hover {
  color: #ffffff; }

.bg-lighter {
  background-color: #ece8d9; }

.footer {
  background-color: #222222;
  height: auto; }
  .footer li {
    list-style: none; }

.aboutlearngaroo {
  padding-top: 60px;
  color: #ccc; }

.quick {
  padding-top: 60px;
  color: #888; }
  .quick a {
    color: #888; }

.social {
  padding-top: 60px;
  color: #888; }
  .social li {
    list-style: none; }
  .social a {
    font-size: 18px;
    color: #888;
    text-decoration: none; }
  .social i {
    color: orange; }
  .social a:hover {
    color: orange; }

.find {
  padding-top: 60px;
  color: #888; }
  .find i {
    color: orange; }

.bg-dark {
  background-color: #111111 !important;
  color: #888 !important; }

.contact-image {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/class.jpg);
  background-size: contain;
  height: 30vh;
  position: sticky;
  top: 10; }
  .contact-image h2 {
    padding: 120px 0 15px 60px;
    color: #fff;
    font-size: 40px; }

.contact-info {
  background-color: #f7f7f7; }
  .contact-info h3 {
    padding: 80px 30px 10px 40px; }
  .contact-info p {
    color: #737581;
    padding-left: 40px; }
  .contact-info a {
    color: #5499c7; }
  .contact-info a:hover {
    color: orange; }

.map iframe {
  width: 100%;
  height: 400px; }

.navb {
  text-decoration: none;
  color: #fff; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9109;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px; }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

/*# sourceMappingURL=style.css.map */
